*{
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    color:#777;
    background: #777;
    margin: auto;
  }
  
  header {
    padding: 20px;
    margin-bottom: 20px;
    background:#ebebeb;
  }
  
  section {
    padding: 10px;
    margin: 10px;
    background:#ebebeb;
    color: #777;
    width: 50%;
    float: left;
  }
  
  nav {
    float: left;
    width: 100%;
    background: #ebebeb;
    color:#777;
    padding: 25px;
  }

  #article {
    color: #ebebeb;
    background: #777;
    margin: 10px;
  }
  
  aside {
    width: 45%;
    height: 200px;
    padding: 10px;
    margin: 10px;
    text-decoration-color: white;
    background: #ebebeb;
    border: 1px solid #eee;
    float: right;
  }
  
  #items{
    color: #777;
    background: #ebebeb;
    padding: 10px;
    margin: 15px;
  }

  #happy {
    color: #777;
    background: #ebebeb;
    margin: 15px;
  }

  footer {
    padding: 20px;
    clear: both;
    background:#ebebeb;
  }
  
 
  